body{
    background: #020024;
    background:
        linear-gradient(90deg,rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-family: "Permanent Marker", cursive;
    text-align: center;
}
.cell{
    margin: auto;
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer{
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}